/* Announcement.js */
.qa-sec-01{
    position:relative;
    height: 580px;
    background-color: #43534b;
}
.qa-body{
    position:relative;
    height: 1670px;
}
.qat{
    position: absolute;
}
.qa-textbox{
    color:white;
    text-align: center;
    display: flex;
    
}

.qa-text-1{
    font-size: 26px;
}
.qa-text-2{
    font-size: 50px; 
}


/* Galary */
.ga-sec-01{
    position:relative;
    height: 580px;
    background-color: #ee8e22;
}
.ga-body{
    position:relative;
    height: 1670px;
}

/* Schedule */
.sd-sec-01{
    position:relative;
    height: 580px;
    background-color: #6c508b;
}
.sd-body{
    position:relative;
    height: 1670px;
}

/* Community */
