.original_header{
    transition: background .4s;
    position: fixed;
    width: 100vw;
    /* background-color: rgb(74, 42, 105); */
    height: 100px;
    z-index: 1000;

}
.change_header{
    transition: background .4s;
    position: fixed;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    height: 100px;
    z-index: 1000;
}
.category{
    margin: auto;
    display: flex;
    position: relative;
    list-style: none;
    height: 100%;   
    width: 100%;
    justify-content: space-evenly;   
    /* padding: auto px; */
}
.mini-logo{
   width: 160px;
}
.category li {
    margin: auto -15% auto -15%;
    font-size: 20px;
    font-weight: bold;
}
.category li a{
    text-decoration: none;
    color: white;
}
.category li a :first-child{
    left: -100%;
}

.category li a:hover{
    background: linear-gradient(to right, #ff41e6, #9900f8,#15decd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


